/* @group Reset */

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
	{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
	}
a img, :link img, :visited img
	{
	border: 0;
	}
table
	{
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul
	{
	list-style: none;
	}
q:before, q:after,
blockquote:before, blockquote:after
	{
	content: "";
	}

/* @end */